@font-face {
    font-family: 'suisseintl-regular';
    src: url(../fonts/suisseintl/suisseintl-regular-webxl.woff2);
}
@font-face {
    font-family: 'suisseintl-book';
    src: url(../fonts/suisseintl/suisseintl-book-webxl.woff2);
}
@font-face {
    font-family: 'ppmori';
    src: url(../fonts/ppmori/ppmori-regular.woff2);
}
@font-face {
    font-family: 'icon';
    src: url(../fonts/iconochive/Iconochive-Regular.woff);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::selection {
    background-color: #fff;
    color: #0F0D0D;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'ppmori' system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cursor {
    width: 1.2vw;
    height: 1.2vw;
    border-radius: 50%;
    position: fixed;
    background: #EDBFFF;
    z-index: 99;
    mix-blend-mode: difference;
    transition: all linear 0.1s ease-in-out;
    pointer-events: none;
    font-family: 'ppmori';
    font-size: .8vw;
    padding: .5vw;
    display: flex;
    justify-content: center;
    object-fit: cover;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
}

.hover-page {
    width: 100vw;
    height: 50vw;
    background: #EDBFFF;
    opacity: 0.99;
    position: fixed;
    font-weight: 300;
    z-index: -1;
    font-family: 'ppmori';
    font-size: 9vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

@keyframes scroll {
    0% { transform: translateX(100%) }
    100% { transform: translateX(calc(-100% - 11vw)) }
}

/* Apply the animation to the <p> elements within the container */
.hover-page p {
    display: inline-block; /* Display <p> elements in a row */
    animation: scroll 5s linear infinite; /* Adjust the animation duration as needed */
}





.main {
    background: #0F0D0D;
    color: #fff;
}

.pg-1 {
    min-height: 90vw;
    width: 100vw;
}

nav {
    width: 100vw;
    height: 3.6vw;
    display: flex;
    justify-content: center;
    position: fixed;
    align-items: center;
    z-index: 99;
    mix-blend-mode: difference;
}

.nav-container {
    width: 96vw;
    height: 2.6vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container .logo img {
    width: 2.2vw;
    height: 2.2vw;
}

.nav-icons {
    width: 16vw;
    display: flex;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    font-size: .92vw;
    text-transform: uppercase;
    list-style: none;
    font-family: 'suisseintl-book', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    margin-left: -2.2vw;
    margin-top: -.2vw;
}

.nav-icons li:nth-child(1) {
    border-bottom: 1px solid #fff;
}

.nav-container .archive {
    background: white;
    width: 1.1vw;
    height: 1.1vw;
    border-radius: 50%;
}

.pg-1 .title-container {
    width: 100vw;
    height: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pg-1 .heading-container {
    width: 88vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: -.2vw;
}

.pg-1 h1 {
    font-family: 'ppmori';
    color: #fff;
    font-size: 8.25vw;
    font-weight: 100;
    line-height: 8.5vw;
}

.heading-container h1:nth-child(1) {
    align-self: flex-start;
}
.heading-container h1:nth-child(2) {
    align-self: flex-end;
    margin-top: -.6vw;
}

.pg-1 .video-container {
    width: 100vw;
    margin-top: -4vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-container .video-wrapper {
    width: 96.5vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.video-wrapper .video-content {
    color: #fff;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5vw;
}

.video-content p {
    color: #fff;
    font-family: 'suisseintl-book';
    font-size: .8vw;
    font-weight: 500;
}

.video-wrapper video {
    width: 60%;
}

#largeVideo {
    display: none;
}

#rightVideoLarge {
    display: none;
}

#leftVideoLarge {
    display: none;
}

/* Page 2
   ========================================================================== */
.pg-2 {
    min-height: 70vw;
    width: 100vw;
    color: #fff;
}

.pg-2 *::selection , .pg-3 *::selection{
    background: #0F0D0D;
    color: #fff;
}

.pg-2-container {
    width: 100vw;
    min-height: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
}

.pg-2-wrapper {
    margin-top: 4.5vw;
    width: 88vw;
    min-height: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.pg-2-heading-container {
    position: relative;
    top: -3.2vw
}

.pg-2-heading-container h2 {
    font-family: 'ppmori';
    font-size: 8.08vw;
    font-weight: 500;
    letter-spacing: -.1vw;
}

.pg-2-content-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1.8vw;
}

.content-left {
    width: 80vw;
}

.content-left h3 {
    word-spacing: -.6vw;
    font-size: 4vw;
    font-family: 'ppmori';
    font-weight: 300;
}

.content-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 26vw;
}

.content-right p {
    font-family: 'ppmori';
    font-size: 1.4vw;
    text-align: left;
    line-height: 1.8vw;
    font-weight: 500;
}

.content-right button {
    width: 100%;
    height: 2.5vw;
    border: 0;
    font-size: .8vw;
    border-radius: 1.5vw;
    background: #EDBFFF;
    color: #000;
}

/* Page 3
   ========================================================================== */

.pg-3 {
    width: 100vw;
    min-height: 150vw;
}

.pg-3 .pg-2-container {
    color: #000;
    margin-top: 6vw;
}

.pg-3-img-vid {
    display: flex;
    width: 88vw;
}

.pg-3 .left-content {
    overflow: hidden;
    height: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 80vw;
    position: relative;
    left: -6vw;
    margin-top: 8vw;
}

.pg-3 .left-content .img-container {
    width: 52vw;
    height: 35vw;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.pg-3 .left-content img {
    width: 48vw;
    height: 35vw;
    object-fit: cover;
    transform: scale(1.3);
}

.caption-container {
    margin-top: 1vw;
    width: 52vw;
    display: flex;
    gap: 1vw;
    justify-content: flex-end;
    font-family: 'ppmori';
    font-size: 1.2vw;
}

.left-content .caption-container {
    margin-left: -4vw;
}

.pg-3 .right-content {
    overflow: hidden;
    width: 50vw;
    display: flex;
    height: 50vw;
    flex-direction: column;
}

.pg-3 .right-content .video-container {
    width: 40vw;
    margin-top: 10vw;
    height: 28vw;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.pg-3 .middle .video-container {
    width: 40vw;
    height: 28vw;
}


.right-content video {
    width: 40vw;
    margin-top: -6vw;
    height: 40vw;
}

.right-content .caption-container {
    justify-content: flex-start;
}

.left-content.middle {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.left-content .video-container {
    width: 40vw;
    height: 40vw;
    overflow: hidden;

}

.left-content video {
    width: 40vw;
    height: 40vw;
    margin-top: -4vw;

}

.left-content.middle .caption-container {
    margin-left: -12vw;
    margin-top: 1vw;
}

.right-content.middle {
    margin-top: 4vw;
    margin-left: 4vw;
}

.right-content.middle .img-container {
    width: 30vw;
    height: 32vw;
    overflow: hidden;
}

.middle .img-container img {
    width: 30vw;
    height: 32vw;
    object-fit: cover;
    transform: scale(1.2);
}

.right-content.middle .caption-container {
    margin-top: 1vw;
}

.pg-3 img {
    transition: filter .2s ease-in-out;
}

.pg-3 img:hover {
    filter: blur(2px);
}

.pg-3 video {
    transition: filter .2s ease-in-out;
    transition: transform .2s ease-in-out;
}

.pg-3 .video-container:hover video{
    filter: blur(2px);
    transform: scale(1.2);
}

.all-project {
    width: 88vw;
    min-height: 30vw;
    font-family: 'ppmori';
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.all-project p {
    font-size: 1vw;
}

.all-projects-container {
    width: 88vw;
    min-height: 26vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.all-projects-container h3 {
    font-size: 4.5vw;
    font-weight: 500;
}

.all-projects-container .circle-container {
    width: 11vw;
    height: 11vw;
    border-radius: 50%;
    background: #EDBFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-wrapper {
    width: 16vw;
    height: 16vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-wrapper:hover .circle-container {
    background: #0F0D0D;
    color: #fff;
}

/* Page 4
   ========================================================================== */

.pg-4 {
    width: 100vw;
    height: 70vw;
    font-family: 'ppmori';
    display: flex;
    justify-content: center;
    align-items: center;
}

.pg-4 p {
    mix-blend-mode: difference;
    text-align: center;
    padding-bottom: 2vw;
    font-size: .9vw;
}

.strategy-container {
    width: 88vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    position: relative;
    margin-top: -10vw;
}

.strategy-container img {
    position: absolute;
    opacity: 0;
    transition: all ease-out 0.5s;
    transform: translateY(10%) rotate(2deg);
}
.strategy-container img:nth-child(1) {
    width: 20vw;
    left: 1vw;
}
.strategy-container img:nth-child(3) {
    width: 25vw;
    height: 23vw;
    top: 6vw;
    right: 1vw;
}

.element-1 {
    width: 88vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6vw;
    font-weight: 100;
}

.element-1 h2 {
    transition: transform ease-out 0.5s;
    mix-blend-mode: difference;
    position: relative;
    z-index: 1;
}

.element-container {
    width: 37vw;
    height: 10vw;
    overflow: hidden;
}

.element-1:hover h2 {
    transform: translateY(-100%);
    color: #EDBFFF;
}

.element-1:hover img {
    opacity: 1;
    transform: translateY(0%) rotate(0deg);
}

.element-1.middle  .element-container{
    margin-left: 5vw;
    height: 9vw;
}

.element-1.middle img:nth-child(1) {
    top: 12vw;
    left: 4vw;
}
.element-1.middle img:nth-child(3) {
    top: -2vw;
    right: 5vw;
    width: 20vw;
}

.element-1.last .element-container {
    width: 48vw;
    height: 9vw;
}


.element-1.last img:nth-child(1) {
    top: 0;
    margin-left: -2vw;
}
.element-1.last img:nth-child(3) {
    margin-top: -4vw;
    width: 20vw;
    right: -1vw;
}

/* Page 5
   ========================================================================== */

.pg-5 {
    width: 100vw;
    font-family: 'ppmori';
    height: 50vw;
    border-top: 2px solid #fff;
    margin-top: -10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-container {
    width: 88vw;
    height: 37vw;
    margin-bottom: 2vw;
}

.client-title-container {
    text-transform: uppercase;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.1vw;
    margin-bottom: 1.5vw;
}

.client-top {
    display: flex;
    gap: 2vw;
    justify-content: center;
    align-items: center;
}

.client-top h3 {
    font-size: 4.19vw;
    font-weight: 500;
    letter-spacing: -.2vw;
}

.client-top h3:nth-child(1) {
    color: #EDBFFF;
}

.client-view {
    width: 6vw;
    height: 1vw;
    font-size: .89vw;
    font-weight: 500;
    margin-left: -4vw;
    letter-spacing: 0vw;
}

.box {
    color: #444;
    width: 100%;
    font-weight: 600;
    height: 6vw;
    justify-content: space-between;
    align-items: center;
    display: flex;
    border-top: 2px solid #fff;
    transition: all ease 0.5s;
}

.box:nth-last-child(1) {
    border-bottom: 2px solid #fff;
}

.box:hover {
    color: #fff;
}

.box-title {
    font-size: 1.3vw;
}

.box-content {
    font-size: 1.1vw;
    width: 20vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* footer
   ========================================================================= */
footer {
    width: 100vw;
    min-height: 60vw;
    background: #EDBFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    overflow: hidden;
}

footer *::selection {
    background: #0F0D0D;
    color: #EDBFFF;
}

.footer-container {
    width: 88vw;
    height: 42vw;
    font-family: 'ppmori';
}

.footer-container .all-project {
    margin-top: -2vw;
}

.footer-container h3 {
    font-size: 8.3vw;
    color: #000;
    letter-spacing: -.2vw;
}

.footer-container .caption {
    font-size: 1.5vw;
    margin-top: 4vw;
}

.footer-container .circle-container{
    background: #fff;
    color: #000;
}
.contact {
    margin-top: 5vw;
    font-family: 'ppmori';

    display: flex;
    justify-content: space-between;
}

.social-media {
    font-size: .9vw;
    font-weight: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5vw;
}

.social-media p {
    font-weight: 300;
    margin-bottom: .5vw;
}

.copyright-container {
    width: 7vw;
}

.copyright-container p {
    font-size: .8vw;
    margin-left: -4vw;
}